PORTAINER_REPO_ROOT=/srv/wifi-ms-logon/deploy
PORTAINER_DATA_ROOT=/srv/wifi-ms-logon-data

STEP_CA_INIT_NAME=Thisted Gymnasium WiFi CA
STEP_CA_INIT_DNS_NAMES=ca.thisted-gymnasium.dk,localhost,127.0.0.1
STEP_CA_INIT_PASSWORD=ManSkalBrugeEnStaerkKodeHer2026!
STEP_CA_PROVISIONER_NAME=wifi-admin
STEP_CA_PORT=9100

RADIUS_SECRET=DetteERTGRadiuseHemmeligeKOde
UNIFI_CONTROLLER_IP=87.48.149.138
UNIFI_RADIUS_PORT=1812
UNIFI_ACCOUNTING_PORT=1813
